<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="application/x-www-form-urlencoded">
        <!-- <label>
            id：
        <input type="text" name="id"/>
        </label>
        <br> -->
        <label>
            username:
        <input type="text" name="username"/>
        </label>
        <br>
        <label>
            password:
        <input type="password" name="password"/>
        </label>
        <br>
        <label>
            <button>submit</button>
        </label>
    </form>
</body>
</html>