{% extends "base.html" %}

{% block main %}
<div id="login" class="panel">
    <h2>添加商品</h2>
   
    <form action="" method="POST" enctype="multipart/form-data">
         <div class="form-item">
             <label>
                 <span class="txt">商品类别：</span>
                 <select name="categoryId">
                     <option value="">请选择一个类别</option>
                     {% for category in categories %}
                     <option value="{{category.id}}">{{category.name}}</option>
                     {% endfor %}
                 </select>
             </label>
         </div>
         <div class="form-item">
             <label>
                 <span class="txt">商品名称</span>
                 <input type="text" name="name" class="form-input">
             </label>
         </div>
         <div class="form-item">
             <label>
                 <span class="txt">商品价格</span>
                 <input type="text" name="price" class="form-input">
             </label>
         </div>
         <div class="form-item">
             <label>
                 <span class="txt">商品图片</span>
                 <!-- <input type="text" name="cover" class="form-input"> -->
                 <!-- 
                     把 type="file" name="cover" 表单中的value值给提交到了服务器
                     注意：value 里面存储的是这个文件的文件名称，而不是文件的二进制数据
                     当我们把表单的 enctype="application/x-www-form-urlencoded" ，浏览器（表单）提交的是表单控件中有name属性的value值
                     如果我们想file类型提交的是文件本身的二进制数据，那么需要把 表单的 enctype 设置为：multipart/form-data
                  -->
                 <input type="file" name="cover" />
             </label>
         </div>
         <div class="form-item">
             <label>
                 <span class="txt"></span>
                 <button class="form-button primary">提交</button>
             </label>
         </div>
    </form>
</div>   
{% endblock %}