<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/css.css" />
</head>
<body>
    
    <div id="app">
        <header id="header">
            <a href="/" id="logo"></a>
    
            <nav id="nav">
                {% for category in categories %}
                <a href="/{{category.id}}">{{category.name}}</a>
                {% endfor %}
            </nav>
    
            <div id="user">
                <a href="/addItem">添加新商品</a>
                <a href="">登录</a>
                <a href="">注册</a>
            </div>
        </header>
    
        <div id="main">
            
            {% block main %}{% endblock %}
    
        </div>
    </div>

</body>
</html>